{% if page.title == "Home" %}
<meta name="twitter:title" content="bemodest.eth">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="({{ site.github.url }}/assets/img/about.png">
{% else %}
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="{{ page.image }}">
{% endif %}
<meta name="twitter:card" content=""{{ site.github.url }}/assets/img/{{ page.image }}">